.container {
    display: flex;
    width: 88%;
    margin: auto;
    height: 96vh;
    min-height: 600px;
    font-family: 'Lato', Helvetica, Arial, serif;
}

.animate{
  transform: translateX(61.3%);
}

.animate1{
  transform: translateX(-163%);
}

.comp1{
    width: 62%;
    transition : all 0.4s ease-in-out 0.4s;
    overflow: hidden;
}

.comp2{
    width: 38%;
    height: 100%;
    background-color: rgba(51, 122, 183, 1.0);
    transition : all 0.4s ease-in-out 0.4s;
    position: relative;
    overflow: hidden;
}

.helloBlock{
    text-align: center;
    width: 42%;
    margin: auto;
    margin-top: 12%;
}

.border {
  border-bottom: 3px solid #337ab7;
  width: 28%;
  align-content: center;
  margin: auto;
}

.hello{
  font-weight: 770;
  font-style: normal;
  font-size: 28px;
  color: #337ab7;
  text-align: center;
}

.socialIcons1{
  width: 40%;
  float: left;
}

.socialIcons2{
    width: 40%;
    float: right;
}

.socialLinks{
    width: 28%;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 26%;
}

.text1{
  font-size: 19px;
  color: #a9b0b7;
  font-weight: 400;
}

.inputField{
  height: 40px;
  width: 86%;
  border: 1px solid rgba(226, 226, 226, 1.0);
  padding-left: 36px;
  border-radius: 3px;
  margin-top: 22px;
  color: rgba(94, 94, 94, 1.0);
}

.inputField:focus{
  outline: none;
}

.inputField2{
  margin-top: 18px;
}

::placeholder {
  color: #a9b0b7;
}

.relative{
  position: relative;
}

.input-icons{
  position: absolute;
  width: 15px;
  left: 12px;
  top: 32px;
}

.user{
  top: 36px;
}

.rememberMeDiv{
  margin-top: 18px;
  display: flex;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: rgba(102, 102, 102, 1.0);
}

.rememberMe{
  width: 42%;
}

.forgotPassword{
  width: 50%;
}

.f-l{
    float: left;
}

.f-r{
    float: right;
}

.checkBox{
  width: 14px;
  border: 1px solid rgba(227, 227, 227, 1.0);
  height: 14px;
  margin-top: -2px;
  margin-right: auto;
  cursor: pointer;
  border-radius: 2px;
}

.signIn{
    margin-top: 15%;
    width: 75%;
    height: 42px;
    background-color: rgba(51, 122, 183, 1.0);
    border-radius: 25px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    outline: none;
}

.signIn:hover{
    background-color: #226298;
}

