
.signUpBlock{
    text-align: center;
    margin-top: 20%;
}

.logoBlock{
    margin-top: 32%;
    height: 40px;
    position: relative;
}

.logoBlock img{
  width: 25%;
}

.dontHave{
  font-weight: 770;
  font-style: normal;
  font-size: 28px;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.dontHaveAnimate{
  transform: translateX(30px);
  opacity: 0;
}

.textBlock2{
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.4s cubic-bezier(0, 1, 1, 1);
}

.textBlock2Animate{
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.4s cubic-bezier(0, 1, 1, 1);
}

.textBlock{
  transition: all 0.4s cubic-bezier(0, 1, 1, 1);
}

.buttonText{
  transition: all 0.4s cubic-bezier(0, 1, 1, 1);
}

.buttonTextAnimate{
  transform: translateX(30px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0, 1, 1, 1);
}

.buttonText2{
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.4s cubic-bezier(0, 1, 1, 1);
}

.buttonText2Animate{
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.4s cubic-bezier(0, 1, 1, 1);
}

.border2{
    border-bottom: 3px solid rgba(255, 255, 255, 1.0);
    width: 20%;
    align-content: center;
    margin: auto;
    margin-bottom: 15px;
    opacity: 0.58;
}

.haveText{
    margin: 15px 0 14px 0;
}

.fill{
    font-size: 19px;
    width: 60%;
    margin: auto;
    margin-bottom: 42px;
    color: rgba(255, 255, 255, 1.0);
}

.button2{
    width: 50%;
    height: 42px;
    background-color: #337ab7;
    border-radius: 25px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
}

.button2:hover{
    border: 2px solid white;
}


.circle1{
  position: absolute;
  top: 10px;
  left: 18%;
  transition : all 0.5s;
}

.circle1Animate{
  top: -36px;
}

.circle1 img{
  width: 28px;
}

.circle2{
  position: absolute;
  top: 10px;
  right: 28%;
  transition : all 0.5s;
  opacity: 1;
}

.circle2Animate{
  top: -36px;
  opacity: 0;
}

.circle1State2{
  position: absolute;
  top: -36px;
  right: 18%;
  transition : all 0.5s;
}

.circle1AnimateState2{
  top: 10px;
}

.circle2State2{
  position: absolute;
  top: -36px;
  left: 28%;
  transition : all 0.5s;
  opacity: 0px;
}

.circle2AnimateState2{
  top: 10px;
  opacity: 1;
}

.rectangle1{
  position: absolute;
  top: 35px;
  right: 0px;
  transition: all 0.5s;
  opacity: 1;
  overflow: hidden;
}

.rectangle1 img{
  width: 60px;
}

.rectangle1Animate{
  right: -30px;
  opacity: 0;
}

.rectangle1State2{
  position: absolute;
  top: 35px;
  left: -30px;
  transition: all 0.5s;
  opacity: 0;
  overflow: hidden;
}

.rectangle1State2 img{
  width: 60px;
}

.rectangle1AnimateState2{
  left: 0px;
  opacity: 1;
}

.circle3{
  position: absolute;
  top: 135px;
  left: 0px;
  transition : all 0.5s;
  opacity: 1;
}

.circle3Animate{
  left: -30px;
  opacity: 0;
}

.circle3 img{
  width: 24px;
}

.circle3State2{
  position: absolute;
  top: 135px;
  right: -30px;
  transition : all 0.5s;
  opacity: 0;
}

.circle3State2 img{
  width: 24px;
}

.circle3AnimateState2{
  right: 0px;
  opacity: 1;
}

.circle4{
  position: absolute;
  top: 350px;
  right: 0px;
  transition : all 0.5s;
  opacity: 1;
}

.circle4Animate{
  right: -30px;
  opacity: 0;
}

.circle4 img{
  width: 20px;
}

.circle4State2{
  position: absolute;
  top: 350px;
  left: -30px;
  transition : all 0.5s;
  opacity: 0;
}

.circle4State2 img{
  width: 20px;
}

.circle4AnimateState2{
  left: 0px;
  opacity: 1;
}

.circle5{
  position: absolute;
  top: 450px;
  right: 26%;
  transition : all 0.5s;
  opacity: 1;
}

.circle5Animate{
  opacity: 0;
}

.circle5 img{
  width: 10px;
}

.circle5State2{
  position: absolute;
  top: 450px;
  left: 26%;
  transition : all 0.5s;
  opacity: 0;
}

.circle5State2 img{
  width: 10px;
}

.circle5AnimateState2{
  opacity: 1;
}

.rectangle2{
  position: absolute;
  top: 480px;
  left: 0px;
  transition: all 0.5s;
  opacity: 1;
  overflow: hidden;
}

.rectangle2 img{
  width: 80px;
}

.rectangle2Animate{
  left: -30px;
  opacity: 0;
}

.rectangle2State2{
  position: absolute;
  top: 480px;
  right: -30px;
  transition: all 0.5s;
  opacity: 0;
  overflow: hidden;
}

.rectangle2State2 img{
  width: 80px;
}

.rectangle2AnimateState2{
  right: 0px;
  opacity: 1;
}

.circle6{
  position: absolute;
  bottom: 0px;
  right: 15%;
  transition : all 0.5s;
  opacity: 1;
}

.circle6Animate{
  bottom: -30px;
  opacity: 0;
}

.circle6 img{
  width: 70px;
  vertical-align: bottom;
}

.circle6State2{
  position: absolute;
  bottom: -30px;
  left: 15%;
  transition : all 0.5s;
  opacity: 0;
}

.circle6State2 img{
  width: 70px;
  vertical-align: bottom;
}

.circle6AnimateState2{
  bottom: 0px;
  opacity: 1;
}

.logo1 {
  transition: all 0.4s cubic-bezier(0, 1, 1, 1);
  position: absolute;
  left: 37.5%;
  opacity: 1;
}

.logo1Animate {
  left: 30%;
  opacity: 0;
  transition: all 0.4s linear;
}

.logo2 {
  transition: all 0.4s linear;
  position: absolute;
  left: 37.5%;
  transform: translateX(-50px);
  opacity: 0;
}

.logo2Animate {
  opacity: 1;
  transform: translateX(0px);
}

